body {
    background-color: lemonchiffon;
}

h1{
    color: crimson;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: darkgreen;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nomeVisitante {
    color: darkred;
    font-size: 40px;
}
.botao {
    height: 40px;
    width: 180px;
    background-color: green;
    color: bisque;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.botao:hover {
    background-color: greenyellow;
    color: green;
}